table {
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  thead{
     font-weight: bold; 
  }
  // button{
  //     color: red;
  //     background-color: rgba(188, 198, 207, 0.877);
  //     border-radius: 5px;
  // }
  .container{
      padding: 10px;
  }

  #search{
  border-radius: 5px;
  font-weight: bold;
  // width: 500px;
  }