<div class="container">
    <h2 style="text-align: center;">Supplier List</h2>

    <button class="btn btn-primary btn-sm" routerLink="./addSuppliers">Add Supplier</button>
    <br>
    <br>
    <!-- <label for="">Search: </label> &nbsp; -->
    <input id="search" class="form-control" type="text" placeholder="Search" [(ngModel)]="filteredString">
    <br>
    <br>
    <div class="table-responsive">
        <table>
            <thead>
                <td>Supplier Name</td>
                <td>City</td>
                <td>Number of Product</td>
                <td>View</td>
            </thead>
            <tbody>
                <tr *ngFor="let list of suppliers_list |filter: filteredString">
                    <td>{{list.name}}</td>
                    <td>{{list.city}} ({{list.state}})</td>
                    <td>5</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                            [routerLink]="['getDetailsById',list.supplier_id]">View</button>&nbsp;
                        <button class="btn btn-primary btn-sm"
                            [routerLink]="['editSupplier',list.supplier_id]">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<router-outlet></router-outlet>