// .container{
//     padding-left: 350px;
//     padding-top: 30px;
    // background-image: url('assets/images.jpg');
    // background-image: url("../assets/images.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .office{
//     // background-color: #d6d5e1;
//     width: 600px;
//     padding-left: 180px;
//     padding-top: 30px;
//     padding-bottom: 30px;
//     border-radius: 10px;
//     // opacity: .5;
// }
h2{
    font-size: 30px;
}
input{
    // width: 250px;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
}
// span{
//     color: red;
// }
.card{
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #f8f8f8;
}